### **Na√Øve Bayes classifier**

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split

#loading Dataset
dataset = pd.read_csv('/content/data.csv')

In [11]:
dataset.head()

,Moisture,rainfall,Average Humidity,Mean Temp,max Temp,Min temp,alkaline,sandy,chalky,clay,millet yield,Outcomes
0,12.801685,0.012360,57,62,71,52,0,1,0,0,2,1
1,12.851654,0.004172,57,58,73,43,0,1,0,0,0,1
2,12.776773,0.000000,56,58,69,46,0,0,1,0,4,0
3,12.942001,0.031747,62,56,70,43,0,1,0,0,0,1
4,12.984652,0.000000,65,56,70,42,0,0,0,1,1,0

In [30]:
X = dataset.iloc[:,0:11].values
y = dataset.iloc[:,len(dataset.iloc[0])-1].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.99,random_state=0)

In [31]:
#fitting the classifier to the training set
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

In [32]:
#predicting the results on the training set
y_train_pred = classifier.predict(X_train)
y_test_pred = classifier.predict(X_test)
from sklearn.metrics import confusion_matrix, accuracy_score
result = confusion_matrix(y_train, y_train_pred)
print("Confusion Matrix:")
print(result)
result2 = accuracy_score(y_train, y_train_pred)
print("Accuracy:",str(result2)+"%")

Confusion Matrix:
[[5 0]
 [0 3]]
Accuracy: 1.0%

## **Binary SVM classifier**

In [15]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

#loading Dataset
dataset = pd.read_csv('/content/data.csv')

In [16]:
dataset.head()

,Moisture,rainfall,Average Humidity,Mean Temp,max Temp,Min temp,alkaline,sandy,chalky,clay,millet yield,Outcomes
0,12.801685,0.012360,57,62,71,52,0,1,0,0,2,1
1,12.851654,0.004172,57,58,73,43,0,1,0,0,0,1
2,12.776773,0.000000,56,58,69,46,0,0,1,0,4,0
3,12.942001,0.031747,62,56,70,43,0,1,0,0,0,1
4,12.984652,0.000000,65,56,70,42,0,0,0,1,1,0

In [33]:
X = dataset.iloc[:,0:3].values
y = dataset.iloc[:,len(dataset.iloc[0])-1].values

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [34]:
#fitting the classifier to the training set
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', random_state=0, gamma=100)
classifier.fit(X_train, y_train)

SVC(gamma=100, random_state=0)

In [35]:
#predicting the results on the training set
y_train_pred = classifier.predict(X_train)
y_test_pred = classifier.predict(X_test)
from sklearn.metrics import confusion_matrix
result = confusion_matrix(y_train, y_train_pred)
print("Confusion Matrix:")
print(result)
result2 = accuracy_score(y_train, y_train_pred)
print("Accuracy:",str(result2)+"%")

Confusion Matrix:
[[5 0]
 [0 3]]
Accuracy: 1.0%

## **Decision tree**

In [37]:
#importing libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [38]:
dataset.head()

,Moisture,rainfall,Average Humidity,Mean Temp,max Temp,Min temp,alkaline,sandy,chalky,clay,millet yield,Outcomes
0,12.801685,0.012360,57,62,71,52,0,1,0,0,2,1
1,12.851654,0.004172,57,58,73,43,0,1,0,0,0,1
2,12.776773,0.000000,56,58,69,46,0,0,1,0,4,0
3,12.942001,0.031747,62,56,70,43,0,1,0,0,0,1
4,12.984652,0.000000,65,56,70,42,0,0,0,1,1,0

In [40]:
# Split dataset into training set and test set
X = dataset.iloc[:,0:11].values
y = dataset.iloc[:,len(dataset.iloc[0])-1].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [41]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

In [43]:
# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

In [44]:
#Predict the response for test dataset
y_pred = clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0